*{
  background-color: lightcyan;
}
.cl1{
  background-color: lightcoral;
}
#id1{
  background-color: lightgreen;
}
div{
  background-color: lightseagreen;
}
#id1{
  background-color: lightsteelblue;
}
.cl1{
  background-color: lightskyblue;
}